body{
    background-color: black;
    font-family: 'Raleway', sans-serif;
}

footer{
    background-color: #25a0ab;
    text-align: center;
}

.fab{
    text-decoration: none;
    color: white;
    
}

.text-h2{
    font-size: 1.8rem;
}
.logo-prin{
    width: 2.4rem;
}

.d-block{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
}

hr{
    width: 100%;
    height: 1px;
    background-color: #25a0ab;
}

.font-icon{
    padding: 0 150px 0 150px;
    background-color: #25a0ab;

}
.text-footer{
    text-transform: uppercase;
}